*{
	list-style: none;
}
.menu{
	text-align: center;
}
ul{
	padding: 0;
}
.second-menu{
	display: none;
}
.second-menu li{
	margin-top: 2%;
}
.bill-div{
	margin: 0 5%;
	padding: 5% 5% 2% 5%;
	border-radius:10px ;
	background-color: white;
}
.bill-title{
	border-bottom:1px solid #dbdbdb ;
}
.bill-title img{
	float: left;
	vertical-align: top;
}
.bill-name{
	float: right;
	color: #7b7777;
}
.bill-title p{
	margin-top: 10px;
	text-align: right;
	color: #7b7777;
}
.bill-particulars{
	overflow-x: auto;
}
.bill-particulars p{
	margin-bottom: 0;
}
.bill-particulars img{
	margin-top:0.5rem;
}
.bill-particulars li{
	margin-top: 5%;
}
.user-div{
	padding-left:4%;
}
.user-name{
	color: black;
	font-size: 1rem;
}
.user-money{
	margin-top:0.5rem;
	color: #3e3e3e;
	font-weight: 600;
}
#datepicker{
	border: none;
	width: 60%;
	padding: 0 ;
	margin: 0;
	height: 21px;
	margin-left: 2%;
}
